body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.my_container {
  width:970px; margin:auto; margin-top:30px
}
.my_content_box {
  margin-top:25px
}
.loading {
  display:block; margin:auto
}